<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Categoría</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styleAdmin.css">
</head>
<body>
    <header>
        <a class="logo">
            <img src="../recursos/icons/isotipo.png" alt="logo obregon dice">
        </a>
    </header>
    <main>
        <form action="">
            <h1>Crear categoría</h1>
            <div id="crear-categoria">
                <label for="txt-categoria">Nombre de la categoría</label>
                <input type="text" name="nombreCategoria" id="txt-categoria">
            </div>

            <button>Crear categoría</button>

        </form>

    </main>
</body>
</html>