<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Categoría</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styleAdmin.css">
</head>
<body>
<header>
    <nav class="navegation-desktop">
        <a class="logo">
            <img src="../recursos/icons/isotipo.png" alt="logo obregon dice">
        </a>
        <ul>
            <li><a href="crear-lugar.html">Lugares</a></li>
            <li><a href="gestionar-categoria.html">Categorías</a></li>
            <li><a href="gestion-usuarios.html">Usuarios</a></li>
            <li><a href="metricas.html">Métricas</a></li>
            <li><a href="index.html">Inicio</a></li>
        </ul>
    </nav>
</header>
<main>
    <form action="">
        <h1>Crear categoría</h1>
        <div id="crear-categoria">
            <label for="txt-categoria">Nombre de la categoría</label>
            <input type="text" name="nombreCategoria" id="txt-categoria">
        </div>

        <button>Crear categoría</button>

    </form>

</main>

<footer class="footer-mobile">
    <nav class="navegation-mobile">
        <ul>
            <li><a href="crear-lugar.html"><img src="../recursos/icons/marcador.png" alt="Marcador">
                <p>Lugares</p></a></li>
            <li><a href="gestionar-categoria.html"><img src="../recursos/icons/categoria.png" alt="Marcador">
                <p>Categorías</p></a></li>
            <li><a href="gestion-usuarios.html"><img src="../recursos/icons/usuarios.png" alt="Marcador">
                <p>Usuarios</p></a></li>
            <li><a href="metricas.html"><img src="../recursos/icons/metricas.png" alt="Marcador">
                <p>Métricas</p></a></li>
            <li><a href="index.html"><img src="../recursos/icons/casita.png" alt="Marcador">
                <p>Inicio</p></a></li>
        </ul>
    </nav>
</footer>
</body>
</html>