<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/aaron.css">
        <link rel="stylesheet" href="../styles/andre.css">
        <link rel="icon" type="image/png" href="../recursos/imgs/isotipo.png">
        <title>Editar perfil</title>
    </head>
    
    
    <body>
        <header>
            <a class="logo">
                <img src="../recursos/imgs/isotipo.png" alt="logo obregon dice">
            </a>
        </header>

        <main>
            <form>
                <legend> Editar perfil</legend>
                
                <!-- Nombre de usuario -->
                <div>
                    <label for="txt-pseudonimo">Nombre de usuario</label>
                    <input type="text" name="pseudonimo" id="txt-pseudonimo" placeholder="JuanTop1">
                </div>

                <!-- Nombres -->
                <div>
                    <label for="txt-nombres">Nombres</label>
                    <input type="text" name="nombres" id="txt-nombres" placeholder="Juan Leonel">
                </div>

                <!-- Apellidos -->
                <div>
                    <label for="txt-apellidos">Apellidos</label>
                    <input type="text" name="apellidos" id="txt-apellidos" placeholder="Bojórquez Terán">
                </div>

                <!-- Descripción -->
                <div>
                    <label for="txt-apellidos">Descripción</label>
                    <textarea id="comentarios" name="comentarios" rows="4" cols="50"></textarea>
                </div>

                <!-- Botones -->
                <div>
                    <button type="submit"><a href="perfil-vacio.html">Actualizar</a></button>
                    <button type="submit"><a href="perfil-vacio.html">Cancelar</a></button>
                </div>
            </form>
        </main>

        <!-- Pie de página -->
        <footer>
            <div class="footer-movil">
                <a href="./Feed-principal-usuario.html" class="Elemento-footer">
                    <img src="../recursos/icons/casita.png" alt="Inicio">
                    <p>Inicio</p>
                </a>

                <a href="./Mi-feed.html" class="Elemento-footer activo">
                    <img src="../recursos/icons/usuarios.png" alt="Feed">
                    <p>Feed</p>
                </a>

                <a href="./perfil-vacio.html" class="Elemento-footer">
                    <img src="../recursos/icons/perfil.png" alt="Perfil">
                    <p>Perfil</p>
                </a>
            </div>
            <div class="footer-desktop">
                <span>Copyright© 2026 ObregonDice</span>
            </div>
        </footer>
    </body>
</html>
