<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de inicio sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/aaron.css">
</head>
<body>


<header>
    <a class="logo">
        <img src="../recursos/icons/img.png" alt="logo obregon dice">
    </a>
</header>


<main>


    <!-- ESTRUCTURA DE FOMRULARIO PARA INICIO DE SESIÓN -->


    <form>
        <legend> Iniciar Sesión</legend>


        <div>
            <label for="txt-correo"> Correo Electrónico</label>
            <input type="email" name="correo" id="txt-correo" placeholder="lapiz@mail.com">
        </div>


        <div>
            <label for="txt-contrasenia">Contraseña</label>
            <input type="password" name ="contrasenia" id="txt-contrasenia" placeholder="*********">
        </div>


        <div>
            <button type="submit">Ingresar</button>
            <p>¿No tienes cuenta? <a href="./registro.html"><span>Registrate</span></a></p>
        </div>
    </form>


</main>
</body>
</html>

