<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página del lugar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/aaron.css">
</head>


<body class ="page-place">

    <header>
        <a class="logo">
            <img src="../recursos/icons/isotipo.png" alt="logo obregon dice">
        </a>
    </header>

    <main>
        <article class="info-lugar">

            <header id="header-lugar">
                <h1>Mc Donnald's</h1>
                <img src="../recursos/imgs/mcDonnals.png" alt="Restaurante de mc donnald's">
            </header>

            <section class="info-lugar-detalle">

                <div id ="calificacion-lugar">
                    <img src="../recursos/icons/fueguito.png" alt="icono de fueguito de calificacion">
                    <img src="../recursos/icons/fueguito.png" alt="icono de fueguito de calificacion">
                    <img src="../recursos/icons/fueguito.png" alt="icono de fueguito de calificacion">
                    <img src="../recursos/icons/fueguito.png" alt="icono de fueguito de calificacion">
                    <img src="../recursos/icons/fuego-apagado.png" alt="icono de fueguito de calificacion">
                    <h2>15</h2>
                </div>

                <p>McDonald’s es la cadena de comida rápida más grande y reconocida del mundo. Se especializa en un servicio ultra rápido y económico con un menú estandarizado a nivel global, famoso por productos icónicos como la hamburguesa Big Mac, sus papas a la francesa, los McNuggets y el helado McFlurry.</p>
                <h3>Dirección</h3>
                <p>Av. Miguel Alemán 931</p>

                <div class="categoria-fila">
                    <div class="categoria-info">
                        <h3>Categoría</h3>
                        <p><span>Restaurante</span></p>
                    </div>
                    <button type="button" id="boton-reseñar">Reseñar</button>
                </div>
            </section>

            <section class ="reseñas">
                <h3>Reseñas</h3>

                <article class="reseña">
                    <img src="../recursos/imgs/perrolengua.png" alt="perro lengua" class ="foto-perfil">
                    <h3>Briaan67</h3>
                    <div>
                        <img src="../recursos/icons/fueguito.png" alt="icono de fueguito de calificacion">
                        <img src="../recursos/icons/fuego-apagado.png" alt="icono de fueguito de calificacion">
                        <img src="../recursos/icons/fuego-apagado.png" alt="icono de fueguito de calificacion">
                        <img src="../recursos/icons/fuego-apagado.png" alt="icono de fueguito de calificacion">
                        <img src="../recursos/icons/fuego-apagado.png" alt="icono de fueguito de calificacion">
                        <h3>12 sep, 2026</h3>
                    </div>
                    <p>¡Pésimo servicio! Tardaron más de 20 minutos en darme una simple orden y, para colmo, cuando me entregaron la bolsa la comida estaba completamente helada. Las papas parecían de cartón aguado, se les olvidó ponerme los McNuggets que pagué y, como siempre, la máquina de helados "estaba fuera de servicio". Le reclamé a la cajera y me atendió con una cara de amargada fatal, como si me estuviera haciendo un favor. Tiré mi dinero a la basura, no vuelvo jamás.</p>
                </article>

            </section>

        </article>

    </main>

</body>
</html>