<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/andre.css">
    <link rel="icon" type="image/png" href="../src/img/isotipo.png">
    <title>Métricas</title>
</head>
<body>

    <!-- Cabecera -->
    <header>
        <a class="logo"><img src="../src/img/isotipo.png" alt="logo obregon dice"></a>
    </header>

    <main class="metricas">
        
        <!-- Parte superior -->
        <section class="tituloMetricas">
            <h1>Métricas</h1>
            <div class="comboboxMetricas"> 
                <select class="combobox" id="opciones" name="opciones">
                    <option value="opcion1">Últimos 30 días</option>
                    <option value="opcion2">Últimos 60 días</option>
                    <option value="opcion3">Últimos 90 días</option>
                </select>
            </div>
        </section>

        <!-- Cuadritos con información resumida clave sobre las métricas -->
        <section class="cantidadMetricas">
            <div class="cuadritoMetricas">
                <legend>Reseñas</legend>
                <h3>15</h3>
            </div>

            <div class="cuadritoMetricas">
                <legend>Promedio</legend>
                <h3>4 (300 reseñas)</h3>
            </div>
        </section>

        <!-- Lugares más reseñados -->
        <section class="masReseniados">
            <h1>Más reseñados</h1>

                <!-- Lugar reseñado -->
                <article class="tarjeta">
                    <h3>Mc Donalds's</h3>
                    <div class="calificacion-tarjeta">
                        <img src="../recursos/icons/fueguito.png" alt="fuego_1">
                        <img src="../recursos/icons/fueguito.png" alt="fuego_2">
                        <img src="../recursos/icons/fueguito.png" alt="fuego_3">
                        <img src="../recursos/icons/fuego-apagado.png" alt="fuego_4">
                        <img src="../recursos/icons/fuego-apagado.png" alt="fuego_5">
                        <h3 class="numero-resenas">15</h3>
                    </div>
                    <img src="../recursos/imgs/mcdonals.png">
                </article>
        </section>

        <!-- Más activos -->
        <section class="masActivos">
            <h1>Más activos</h1>

            <!-- Usuario -->
            <article class="tarjetaAndre tarjetaUsuario">
                <img class="pfp" src="../src/img/marron.png">
                <h3>@marron (31)</h3>
                <button>Seguir</button>
            </article>

            <!-- Usuario -->
            <article class="tarjetaAndre tarjetaUsuario">
                <img class="pfp" src="../src/img/gamota.png">
                <h3>@gamota(27)</h3>
                <button>Siguiendo</button>
            </article>
        </section>
    </main>
</body>
</html>