<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/Leonel.css">
</head>
<body>
    <header>
        <div class="version-desktop">
            <img src="../recursos/imgs/imgFeedDesktop.png" class="fondo-img-desktop" alt="Fondo">
            <div class="contenido-header-desktop">
                <div class="header-top-desktop">
                    <a class="logo-desktop">
                        <img src="../recursos/icons/titulo.png" alt="logo obregon dice">
                    </a>

                    <div class="buscador-desktop">
                        <input type="text" placeholder="Busca cosas de tu interés">
                        <button class="btn-lupa-desktop">
                            <img src="../recursos/icons/lupa.png" alt="buscar">
                        </button>
                    </div>

                    <nav class="links-desktop">
                        <a href="/templates/Feed-principal-usuario.html">Inicio</a>
                        <a href="#">Mi feed</a>
                        <button class="btn-cuenta">Cuenta</button>
                    </nav>
                </div>

                <div class="pestanas-desktop">
                    <a href="#" class="activa">Lugares</a>
                    <a href="#">Usuarios</a>
                </div>

                <div class="filtros-desktop">
                    <div class="categorias-desktop">
                        <span class="dropdown">Gastronomia</span>
                        <span class="dropdown">Cultura</span>
                        <span class="dropdown">Entretenimiento</span>
                        <span class="dropdown">Naturaleza</span>
                    </div>

                    <div class="calificacion-desktop">
                        <span>Calificación</span>
                        <div class="fuegos-desktop">
                            <img src="../recursos/icons/fueguito.png" alt="fuego_1">
                            <img src="../recursos/icons/fueguito.png" alt="fuego_2">
                            <img src="../recursos/icons/fueguito.png" alt="fuego_3">
                            <img src="../recursos/icons/fueguito.png" alt="fuego_4">
                            <img src="../recursos/icons/fueguito.png" alt="fuego_5">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="version-movil">
            <a class="logo-movil">
                <img src="../recursos/icons/isotipo.png" alt="logo obregon dice">
            </a>
            <h1>Para ti</h1>
        </div>
    </header>
    <section class="contenedor-feed-lugares">
        <article class="tarjeta-feed">
            <div class="header-tarjeta-feed">
                <img src="../recursos/imgs/perritosentado.png" class="foto-perfil-tarjeta">
                <h2>@Marron</h2>
                <div class="calificacion-tarjeta">
                    <img src="../recursos/icons/fueguito.png" alt="fuego_1">
                    <img src="../recursos/icons/fueguito.png" alt="fuego_2">
                    <img src="../recursos/icons/fueguito.png" alt="fuego_3">
                    <img src="../recursos/icons/fuego-apagado.png" alt="fuego_4">
                    <img src="../recursos/icons/fuego-apagado.png" alt="fuego_5">

                </div>
            </div>
            <div class="nombre-fecha-tarjeta">
                <h3>Mc Donalds's</h3>
                <h3>12, Sep 2026</h3>
            </div>



            <img src="../recursos/imgs/mcdonals.png" class="foto-lugar-tarjeta">
            <p>¡Pésimo servicio! Tardaron más de 20 minutos en darme una simple orden y, para colmo,
                cuando me entregaron la bolsa la comida estaba completamente helada. Las papas parecían
                de cartón aguado, se les olvidó ponerme los McNuggets que pagué y, como siempre, la máquina
                de helados "estaba fuera de servicio". Le reclamé a la cajera y me atendió con una cara de amargada
                fatal, como si me estuviera haciendo un favor. Tiré mi dinero a la basura, no vuelvo jamás.</p>
        </article>

        <article class="tarjeta-feed">
            <div class="header-tarjeta-feed">
                <img src="../recursos/imgs/gatitoConChochos.png" class="foto-perfil-tarjeta">
                <h2>@gamota</h2>
                <div class="calificacion-tarjeta">
                    <img src="../recursos/icons/fueguito.png" alt="fuego_1">
                    <img src="../recursos/icons/fueguito.png" alt="fuego_2">
                    <img src="../recursos/icons/fueguito.png" alt="fuego_3">
                    <img src="../recursos/icons/fueguito.png" alt="fuego_4">
                    <img src="../recursos/icons/fueguito.png" alt="fuego_5">

                </div>
            </div>
            <div class="nombre-fecha-tarjeta">
                <h3>Laguna del Nainari</h3>
                <h3>11, Sep 2026</h3>
            </div>



            <img src="../recursos/imgs/lagunaNainari.png" class="foto-lugar-tarjeta">
            <p>La Laguna del Nainari es mi lugar favorito en Obregón para despejarme a la hora del atardecer.
                Siempre que voy, el plan obligado es dar la vuelta caminando y terminar pidiéndome un coco helado
                bien preparado con su limón, sal y chile a la orilla del agua.</p>
        </article>
    </section>
    <footer>
        <div class="footer-movil">
            <a href="./Feed-principal-usuario.html" class="Elemento-footer">
                <img src="../recursos/icons/casita.png" alt="Inicio">
                <p>Inicio</p>
            </a>

            <a href="#" class="Elemento-footer activo">
                <img src="../recursos/icons/usuarios.png" alt="Feed">
                <p>Feed</p>
            </a>

            <a href="#" class="Elemento-footer">
                <img src="../recursos/icons/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </div>
        <div class="footer-desktop">
            <span>Copyright© 2026 ObregonDice</span>

        </div>
    </footer>
</body>
</html>