<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/perfil.css">
        <link rel="icon" type="image/png" href="../src/img/imagotipo.png">
        <title>Perfil de @briaaan67</title>
    </head>
    <body>
        
        <!-- Cabecera -->
        <header>
            <a class="logo"><img src="../src/img/imagotipo.png" alt="logo obregon dice"></a>
        </header>

        <!-- Principal -->
        <main class="sombrear main-perfil">

            <!-- Parte superior con los datos del usuario -->
            <section class="usuarioContenedor">
                <div class="todoUsuarioMenosDescripcion">

                    <!-- Imagen de perfil del usuario -->
                    <div class="usuarioImagen">
                        <img class="pfp" src="../src/img/pfp_brian.png" alt="pfp">
                    </div>

                    <!-- Sección de nombre, cantidad de reseñas, seguidores y seguidos -->
                    <div class="usuarioInfo">
                        <h2>@briaaan67</h2>
                        <div class="usuarioDatosNumeros">

                            <!-- Cantidad de reseñas publicadas -->
                            <div class="usuarioDatosCantidad">
                                <a href="perfil.html"><p>Reseñas</p></a>
                                <p>2</p>
                            </div>

                            <!-- Cantidad de seguidores -->
                            <div class="usuarioDatosCantidad">
                                <a href="perfil-seguidores.html"><p>Seguidores</p></a>
                                <p>16</p>
                            </div>

                            <!-- Cantidad de seguidos -->
                            <div class="usuarioDatosCantidad">
                                <a href="perfil-seguidores.html"><p>Seguidos</p></a>
                                <p>200</p>
                            </div>
                        </div>
                    </div>

                    <!-- Boton que aparece en escritorio -->
                    <button class="apareceEscritorio">Seguir</button>
                </div>

                <!-- Descripción del usuario -->
                <div class="usuarioDescripcion">
                    <p>Hola soy Brian jeje</p>
                </div>

                <!-- Botón -->
                <button class="apareceMovil">Seguir</button>
            </section>

            
            <!-- Reseñas publicadas por el usuario -->
            <section class="usuarioContenedorInferior">
                <h2>Reseñas</h2>

                <!-- Reseña que aparece en su perfil -->
                <article class="tarjeta reseniaPerfil">

                    <div class="articuloCabeza">
                        <h2>McDonnald's</h2>
                        <p>12 sep, 2026</p>
                    </div>
                    <img class="reseniaImagen" src="../src/img/mc.png">
                    <p>¡Pésimo servicio! Tardaron más de 20 minutos en darme una simple orden y, para colmo, cuando me entregaron la bolsa la comida estaba completamente helada. Las papas parecían de cartón aguado, se les olvidó ponerme los McNuggets que pagué y, como siempre, la máquina de helados "estaba fuera de servicio". Le reclamé a la cajera y me atendió con una cara de amargada fatal, como si me estuviera haciendo un favor. Tiré mi dinero a la basura, no vuelvo jamás.</p>
                </article>
            </section>
        </main>
    </body>
</html>