<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/aaron.css">
        <link rel="stylesheet" href="../styles/andre.css">
        <link rel="icon" type="image/png" href="../recursos/imgs/isotipo.png">
        <title>Perfil</title>
    </head>
    <body>
        
        <!-- Cabecera -->
        <header>
            <a class="logo"><img src="../recursos/imgs/isotipo.png" alt="logo obregon dice"></a>

            <!-- Navegador en escritorio -->
            <div class="contenido-header-desktop">
                <div class="header-top-desktop">
                    <a class="logo-desktop">
                        <img src="../recursos/icons/titulo.png" alt="logo obregon dice">
                    </a>

                    <div class="buscador-desktop">
                        <input type="text" placeholder="Busca cosas de tu interés">
                        <button class="btn-lupa-desktop">
                            <img src="../recursos/icons/lupa.png" alt="buscar">
                        </button>
                    </div>

                    <nav class="links-desktop">
                        <a href="#">Inicio</a>
                        <a href="#">Mi feed</a>
                        <button class="btn-cuenta">Cuenta</button>
                    </nav>
                </div>

                <div class="pestanas-desktop">
                    <a href="#" class="activa">Lugares</a>
                    <a href="#">Usuarios</a>
                </div>

                <div class="filtros-desktop">
                    <div class="categorias-desktop">
                        <span class="dropdown">Gastronomia</span>
                        <span class="dropdown">Cultura</span>
                        <span class="dropdown">Entretenimiento</span>
                        <span class="dropdown">Naturaleza</span>
                    </div>

                    <div class="calificacion-desktop">
                        <span>Calificación</span>
                        <div class="fuegos-desktop">
                            <img src="../recursos/icons/fueguito.png" alt="fuego_1">
                            <img src="../recursos/icons/fueguito.png" alt="fuego_2">
                            <img src="../recursos/icons/fueguito.png" alt="fuego_3">
                            <img src="../recursos/icons/fueguito.png" alt="fuego_4">
                            <img src="../recursos/icons/fueguito.png" alt="fuego_5">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Principal -->
        <main class="sombrear main-perfil">

            <!-- Parte superior con los datos del usuario -->
            <section class="usuarioContenedor">
                <div class="todoUsuarioMenosDescripcion">

                    <!-- Imagen de perfil del usuario -->
                    <div class="usuarioImagen">
                        <img class="pfp" src="../src/img/pfp_brian.png" alt="pfp">
                    </div>

                    <!-- Sección de nombre, cantidad de reseñas, seguidores y seguidos -->
                    <div class="usuarioInfo">
                        <h2>@briaaan67</h2>
                        <div class="usuarioDatosNumeros">

                            <!-- Cantidad de reseñas publicadas -->
                            <div class="usuarioDatosCantidad">
                                <a href="perfil.html"><p>Reseñas</p></a>
                                <p>2</p>
                            </div>

                            <!-- Cantidad de seguidores -->
                            <div class="usuarioDatosCantidad">
                                <a href="perfil-seguidores.html"><p>Seguidores</p></a>
                                <p>16</p>
                            </div>

                            <!-- Cantidad de seguidos -->
                            <div class="usuarioDatosCantidad">
                                <a href="perfil-seguidores.html"><p>Seguidos</p></a>
                                <p>200</p>
                            </div>
                        </div>
                    </div>

                    <!-- Boton que aparece en escritorio -->
                    <button class="apareceEscritorio">Seguir</button>
                </div>

                <!-- Descripción del usuario -->
                <div class="usuarioDescripcion">
                    <p>Hola soy Brian jeje</p>
                </div>

                <!-- Botón -->
                <button class="apareceMovil">Seguir</button>
            </section>

            
            <!-- Reseñas publicadas por el usuario -->
            <section class="usuarioContenedorInferior">
                <h2>Reseñas</h2>

                <!-- Reseña que aparece en su perfil -->
                <article class="tarjetaAndre reseniaPerfil">

                    <div class="articuloCabeza">
                        <h2>McDonnald's</h2>
                        <p>12 sep, 2026</p>
                    </div>
                    <img class="reseniaImagen" src="../recursos/imgs/mcDonnals.png">
                    <p>¡Pésimo servicio! Tardaron más de 20 minutos en darme una simple orden y, para colmo, cuando me entregaron la bolsa la comida estaba completamente helada. Las papas parecían de cartón aguado, se les olvidó ponerme los McNuggets que pagué y, como siempre, la máquina de helados "estaba fuera de servicio". Le reclamé a la cajera y me atendió con una cara de amargada fatal, como si me estuviera haciendo un favor. Tiré mi dinero a la basura, no vuelvo jamás.</p>
                </article>
            </section>
        </main>

        <!-- Pie de página -->
        <footer>
            <div class="footer-movil">
                <a href="./Feed-principal-usuario.html" class="Elemento-footer">
                    <img src="../recursos/icons/casita.png" alt="Inicio">
                    <p>Inicio</p>
                </a>

                <a href="./Mi-feed.html" class="Elemento-footer activo">
                    <img src="../recursos/icons/usuarios.png" alt="Feed">
                    <p>Feed</p>
                </a>

                <a href="./perfil-vacio.html" class="Elemento-footer">
                    <img src="../recursos/icons/perfil.png" alt="Perfil">
                    <p>Perfil</p>
                </a>
            </div>
            <div class="footer-desktop">
                <span>Copyright© 2026 ObregonDice</span>
            </div>
        </footer>
    </body>
</html>