<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/andre.css">
        <link rel="icon" type="image/png" href="../recursos/imgs/isotipo.png">
        <title>Perfil de @briaaan67</title>
    </head>
    <body>

    <!-- Cabecera -->
    <header>
        <a class="logo"><img src="../recursos/imgs/isotipo.png" alt="logo obregon dice"></a>
    </header>

        <!-- Principal -->
        <main class="sombrear main-perfil">

            <!-- Parte superior con los datos del usuario -->
            <section class="usuarioContenedor">
                <div class="todoUsuarioMenosDescripcion">

                    <!-- Imagen de perfil del usuario -->
                    <div class="usuarioImagen">
                        <img class="pfp" src="../recursos/imgs/pfp_brian.png" alt="pfp">
                    </div>

                    <!-- Sección de nombre, cantidad de reseñas, seguidores y seguidos -->
                    <div class="usuarioInfo">
                        <h2>@briaaan67</h2>
                        <div class="usuarioDatosNumeros">

                            <!-- Cantidad de reseñas publicadas -->
                            <div class="usuarioDatosCantidad">
                                <a href="perfil.html"><p>Reseñas</p></a>
                                <p>2</p>
                            </div>

                            <!-- Cantidad de seguidores -->
                            <div class="usuarioDatosCantidad">
                                <a href="perfil-seguidores.html"><p>Seguidores</p></a>
                                <p>16</p>
                            </div>

                            <!-- Cantidad de seguidos -->
                            <div class="usuarioDatosCantidad">
                                <a href="perfil-seguidores.html"><p>Seguidos</p></a>
                                <p>200</p>
                            </div>
                        </div>
                    </div>

                    <!-- Boton que aparece en escritorio -->
                    <button class="apareceEscritorio">Seguir</button>
                </div>

                <!-- Descripción del usuario -->
                <div class="usuarioDescripcion">
                    <p>Hola soy Brian jeje</p>
                </div>

                <!-- Botón -->
                <button class="apareceMovil">Seguir móvil</button>
            </section>

            
            <!-- Reseñas publicadas por el usuario -->
            <section class="usuarioContenedorInferior">
                <h2>Seguidores</h2>

                <!-- Usuario -->
                <article class="tarjetaAndre tarjetaUsuario">
                    <img class="pfp" src="../recursos/imgs/marron.png">
                    <h3>@marron</h3>
                    <button>Seguir</button>
                </article>

                <!-- Usuario -->
                <article class="tarjetaAndre tarjetaUsuario">
                    <img class="pfp" src="../recursos/imgs/gamota.png">
                    <h3>@gamota</h3>
                    <button>Siguiendo</button>
                </article>
            </section>
        </main>
    <!-- Pie de página -->
    <footer>
        <div class="footer-movil">
            <a href="./Feed-principal-usuario.html" class="Elemento-footer">
                <img src="../recursos/icons/casita.png" alt="Inicio">
                <p>Inicio</p>
            </a>

            <a href="./Mi-feed.html" class="Elemento-footer activo">
                <img src="../recursos/icons/usuarios.png" alt="Feed">
                <p>Feed</p>
            </a>

            <a href="./perfil-vacio.html" class="Elemento-footer">
                <img src="../recursos/icons/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </div>
        <div class="footer-desktop">
            <span>Copyright© 2026 ObregonDice</span>
        </div>
    </footer>

    </body>
</html>