<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de registro</title>
    <link rel="stylesheet" href="../styles/aaron.css">
</head>
<body>


<header>
    <a class="logo">
        <img src="../recursos/icons/isotipo.png" alt="logo obregon dice">
    </a>
</header>


<main>


    <!-- ESTRUCTURA DE FOMRULARIO PARA INICIO DE SESIÓN -->


    <form>
        <legend> Registro</legend>

        <div>
            <label for="txt-pseudonimo">Nombre de usuario</label>
            <input type="text" name="pseudonimo" id="txt-pseudonimo" placeholder="omarnal">
        </div>

        <div>
            <label for="txt-nombres">Nombres</label>
            <input type="text" name="nombres" id="txt-nombres" placeholder="Serguei Tajmaninov">
        </div>

        <div>
            <label for="txt-apellidos">Apellidos</label>
            <input type="text" name="apellidos" id="txt-apellidos" placeholder="Tolano Menchaca">
        </div>

        <div>
            <label for="txt-correo"> Correo Electrónico</label>
            <input type="email" name="correo" id="txt-correo" placeholder="lapiz@mail.com">
        </div>

        <div>
            <label for="txt-contrasenia">Contraseña</label>
            <input type="password" name ="contrasenia" id="txt-contrasenia" placeholder="*********">
        </div>

        <div>
            <label for="txt-confirmar-contrasenia">Confirmar Contraseña</label>
            <input type="password" name ="confirmar-contrasenia" id="txt-confirmar-contrasenia" placeholder="*********">
        </div>

        <div>
            <label for="txt-fecha">Fecha de Nacimiento</label>
            <input type="date" name ="fecha-nacimiento" id="txt-fecha">
        </div>

        <div>
            <button type="submit" class ="form-button">Registrarse</button>
            <p>Ya tengo cuenta <a href="./inicio-sesion.html"><span>Inicio sesión</span></a></p>
        </div>
    </form>
</main>
</body>
</html>

