@import url(globals.css);

@import url(leonel.css);
/*  Son imagenes que tuve que ocultar porque posteriormente  al pasar a pc las mostraré
    de momento se mantienen ocultas.
*/
.img-yaqui{
    display: none;
}
.titulo-app{
    display: none;
}

/*tmb ocultar el footer xd de desktop*/
.footer-desk{
    display: none;
}
/* CONFIGURACIÓN PARA LOS FORMULARIOS DE INICIO SESIÓN Y REGISTRO */


.page-form main{
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}
legend{
    text-align: center;
    color: var(--colorLegend);
    font-weight: bold;
    font-size: var(--tamanio-legend);
    padding-bottom: 1rem;
    margin-top: 2rem;
}
label{
    color: var(--colorTexto);
    font-weight: bold;
    font-size: var(--tamanio-label);
}
form{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--color-background);
    align-items: center;
    box-shadow: var(--shadow-box-effect);
    width: clamp(280px, 90%, 1000px);
    margin: auto;
    margin-top: 2rem;
    gap:0.5rem;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: initial;
    width: 90%;
}
form div span{
    color: var(--colorResaltar);
    font-size: 1rem;
}

/*  CONFIGURACIÓN DE LOS INPUTS */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"]{
    background-color: var(--colorInput);
    border-style: none;
    box-shadow: var(--shadow-box-effect);
    color: var(--colorTexto);
    padding: .5rem;
    font-size: var(--tamanioTextoInput);
    border-radius: var(--radio-border);
    cursor: text;
}
input[type="date"]{
    cursor: pointer;
}

input::placeholder{
    padding-left: 0.3rem;
    color: var(--colorPlaceholder);
}
form div p{
    text-align: center;
    margin-bottom: 3rem;
}

button{
    background: var(--color-boton-normal);
    padding: 0.6rem;
    font-weight: bold;
    font-size: var(--tamanioTextoBoton);
    border: none;
    border-radius: var(--radio-border);
    color: #FFFFFF;
    margin-top: 1rem;
    box-shadow: var(--shadow-box-effect);
    cursor: pointer;
    transition: 0.2s all;
}
.form-button{
    background: var(--colorBoton);
    font-weight: bold;
}
button:hover{
    transform: translateY(-3px);
    transition-duration: 0.2s;
}

a{
    text-decoration: none;
}

/* CONFIGURACIÓN DEL ISOTIPO DE LA APP */
header{
    display: flex;
    justify-content: left;
}
.logo img{
    width: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

/* CONFIGURACIÓN DEL LUGAR (EXCEPTO DE LAS RESEÑAS PQ SE LO DEJÉ AL JUAN */

.page-place main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 0;
}
.info-lugar{
    width: clamp(280px, 90%, 1000px);
    gap: 2rem;
}
.info-lugar-detalle {
    text-align: justify;
    font-size: var(--tamanioTexto);
}
.info-lugar-detalle p{
    margin: 0;
}
.categoria-fila {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 1rem;
}
.info-lugar-detalle span{
    color: var(--colorResaltar);
}
#header-lugar{
    display: flex;
    flex-direction: column;
}
#calificacion-lugar{
    display: flex;
    flex-direction: row;
}
#calificacion-lugar img{
    justify-content: center;
    padding-top: 1rem;
    width: 2rem;
    height: 2rem;
}

/* es para mover el botón de reseñar, nomas es para eso esta cosa*/
#boton-reseñar{
    right: 2rem;
    bottom: 13rem;
    z-index: 1000;
}


/* ADAPTACIÓN A ESCRITORIO */

@media (min-width: 1001px){

    /* CONFIGURACIÓN DE INICIO Y TMB DE REGISTRO */

    .page-form{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .logo{
        /* se deshabilita para mostrar el logo con título */
        display: none;
    }
    .page-form header{
        /*  Por si les hace ruido, estaba batallando con el header pq la imagen no se miraba cul y
            tenía un espacio ahi que me daba toc así que mi solución fue darle una posicion absoluta
            y que quede flotando pegado arriba y asi que la imagen se meta por debajo.
        */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }
    .page-form main{
        /* otro ordenamiento */
        display:grid;
        grid-template-columns:2fr 1fr;

        /* es para que tome todo el alto*/
        flex: 1;
        padding:0;
        width: 100%;
    }
    form {
        /*quitar decoración*/
        background: none;
        box-shadow: none;
        margin: auto;

        /* cambiar el ancho que toma*/
        width: 80%;
    }
    .img-yaqui{
        /*
            El align start es porque en celular tiene el center y eso hacia un acomodo horrible
            así que mejor lo regresé a como originalmente estaba.
        */
        align-self: start;
        overflow: hidden;
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block; /* ahora sí se muestra*/
    }
    .titulo-app{
        display: block; /* tmb se muestra*/
        width: 16rem;
        padding: 1rem 2rem;
    }
    .form-button{
        align-self: center;
        width: 50%;
    }

    /*
        Configuración de la pantalla de lugar 😼😼
    */
    .page-place main{
        padding: 4rem;
    }
    .info-lugar{
        box-shadow: var(--shadow-box-effect);
        box-shadow: inset var(--shadow-box-effect);
        /* Acomodo para que salga como en el figma*/

        display: grid;
        grid-template-columns: 300px 1fr; /* es la columna de la foto*/
        grid-template-rows: auto auto;      /* fila 1 es pura info y la 2 las reseñas que se apilaran*/
        gap: 1.5rem;
        align-items: start;
        background: #272933;
        border-radius: var(--radio-border);
    }

    #header-lugar{
        /* Fila para acomodar la info de la imagen*/
        grid-column: 1;
        grid-row: 1;
        padding-left: 2rem;
    }
    #header-lugar span{
        color: #C56364;
    }

    #header-lugar img{
        /* configuración solo de la imagen*/
        width: 100%;
        display: block;
        object-fit: cover;
    }
    #calificacion-lugar h2{
        margin: 0 0 0 0.5rem;
    }
    .info-lugar-detalle{
        /* Fila 1, columna 2. Es el almacen de la info a detalle*/
        grid-column: 2;
        grid-row: 1;
        display: flex !important;  /*QUitar el important despues, lo puse solo porque la conf del juan afecta mi acomodo*/
        flex-direction: column;
        gap: 1rem;
        margin: 2rem;
        width: auto;
        padding-right: 1rem;
    }
    .info-lugar-detalle h3{
        margin:0;
        padding:0;
        border: none;
    }

    .reseñas{
        grid-column: 1 / -1; /* abarca toda las columnas*/
        grid-row: 2;
        display: flex !important; /*tmb quitar el juan troll las usó y me anda dañando mi bebé*/
        flex-direction: column;
        width: 95%;
    }

    /*
        CONFIGURACIÓN DEL CONTENIDO DE CALIFICACION DE UN LUGAR
    */
    #calificacion-lugar{
        display:flex;
        align-items: center;
        gap:0.4rem;
    }
    #calificacion-lugar h2{
        padding-top: 1rem;
    }

    .footer-desk{
        display: block;
        padding-top: .5rem;
        margin-top: 2rem;
        padding-bottom: 0.5rem;
        text-align: center;
        background-color: #1D2230;
        box-shadow: inset 0 4px 4px 0 var(--shadow-color); /* busque como poner sombra interna y solo era con el inset xd*/
        box-shadow-offset: revert;
        width: 100%;
    }

    .footer-desk span{
        color: #FFFFFF;
        opacity: 30%;
    }

    #boton-reseñar{
        background-color: var(--color-boton-normal-desktop);
        margin: auto;
        width: 20%;
    }

    /* Configuración del boton de reseña y categoria*/
    .categoria-fila {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin-top: 0;
    }

    /*  ORDENAMIENTO DE CADA RESEÑA POR SEPARADO */
    .reseña {
        display: flex;
        flex-direction: column;
        gap: 0.5rem 1rem;                /* Espacio vertical y horizontal */
        background-color: #2E313E;
        padding: 1rem;
        border-radius: var(--radio-border);
        margin-top: 1rem;
    }

    .reseña .foto-perfil {
        width: 3rem;
        height: 3rem;
        border-radius: 50%; /* Hace la foto circular */
        object-fit: cover;
    }

    /* Nombre de usuario y Fueguitos: Fila 1, Columna 2 */
    .reseña h3 {
        margin: 0;
        display: flex;
        gap: 0.8rem;
        color: var(--colorTexto);
    }

    .reseña div {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        margin-left: 6rem; /* Empuja los fueguitos al lado del nombre */
    }

    /* Los fueguitos */
    .reseña div img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .reseña p {
        text-align: justify;
        margin: 0;
        color: #E0E0E0;
        line-height: 1.5;
    }
    .encabezado-usuario{
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 0 !important; /* bro juan stop deja de usar los important*/
        gap: 1rem;
    }
    .calificacion-usuario-lugar{
        margin: 1rem !important;
    }


}